@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} }
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} }
@media screen and (max-width: 992px) { div. contentblock {width: 970px;} }
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
/*  SCROLL BAR  */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #160622;
}

body::-webkit-scrollbar-thumb {
    background-color: #ea0056;
    border-radius: 20px;
}

/*  PRELOADER  */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background: rgba(26, 26, 26, 0.92);
    /*background: #000000 url('../Images/UhZd.gif') no-repeat center center;*/
}

.textPreloader {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 12px;
    color: #ccc;
    line-height: 2em;
    text-align: center;
    z-index: 1;
}

#prGif {
    vertical-align: middle;
    width: 200px;
    height: 150px;
}

.visible {
    visibility: visible;
    overflow: hidden;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    visibility: hidden;
    overflow: visible;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}


body {
    scroll-behavior: smooth;
    background: #160622;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.grTitle {
    /*max-height: 100px;*/
    color: transparent;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    font-size: 7rem;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(315deg, fuchsia, red);
}
#wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 999;
}
#wrap canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    margin: -250px 0 0 -250px;
    -outline: 1px solid #fff;
}

.info {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1.2rem;
    color: #ccc;
    line-height: 2em;
    text-align: center;
    z-index: 1;
}


.container {
    width: 100%;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    color: #f2f2f2;
    font-family: 'Unbounded', sans-serif;
}

.welc {
    font-size: 3rem;
    /*margin-top: 40%;*/
    padding-top: 17%;
    line-height: 1;
    padding-left: 5%;
}
/*
   color: #417D71;
   color: #f2f2f2;
   color: #424240;
*/

.sup__title {
    font-size: 2rem;
    color: #f2f2f2;
    font-family: 'Inter', sans-serif;
    /*padding-top: -50px;*/
    margin-top: 50px;
}

#welcomeContainer {
    z-index: -1;
}
/*  FOOTER  */
.contactContainer {
    background-color: #200834;
    color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    padding-left: 60px;
    padding-bottom: 60px;
}

/*  BUTTON  */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    color: #f2f2f2;
    font-size: inherit;
    font-family: inherit;
}

.button-text {
    color: #f2f2f2;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #ec0056;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #f2f2f2;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

@supports (display: grid) {
    /*body {*/
    /*    display: grid;*/
    /*    grid-template-columns: repeat(4, 1fr);*/
    /*    grid-gap: 0.625rem;*/
    /*    grid-template-areas: ". main main ." ". main main .";*/
    /*}*/

    #container {
        padding-left: 20px;
        grid-area: main;
        align-self: center;
        justify-self: center;
    }
}

.contact__title {
    font-size: 1.7rem;
    color: #f2f2f2;
    font-family: 'Quicksand', sans-serif;
}

/*  CURSOR  */

#cont {
    overflow: hidden;
    touch-action: pan-up;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}
#supTitle {
    touch-action: pan-up;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #000, 0 0 20px #000;
}

#cont h1 {
    width: auto;
    font-size: 3rem;
    text-transform: uppercase;
}

#cont a {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

#cont canvas {
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
}
